.burger-menu {
  position: relative;
  @apply hidden lg:flex;
}

.burger-menu-button {
  position: relative;
  width: 58px;
  height: 58px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // z-index: 11;
  background-color: rgba(0, 0, 0, 0.2);
  background: none;
  transition-duration: 0.2s;
}
.burger-menu-button:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  // background-color: rgba(0, 0, 0, 0.3);
}

.burger-menu-button span {
  position: absolute;
  display: block;
  background-color: white;
  border-radius: 3px;
  width: 26px;
  height: 3px;
  transform-origin: 0; /* Точка вращения — левый край */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-menu-button span:nth-child(1) {
  top: 18px;
}

.burger-menu-button span:nth-child(2) {
  top: 30px;
  transform: translateY(-55%);
}

.burger-menu-button span:nth-child(3) {
  top: 38px;
}

.burger-menu-button.open span:nth-child(1) {
  top: 35%;
  transform: translateY(-35%) translateX(2.5px) rotate(45deg);
}

.burger-menu-button.open span:nth-child(2) {
  opacity: 0;
}

.burger-menu-button.open span:nth-child(3) {
  top: 70%;
  transform: translateY(-65%) translateX(2.5px) rotate(-45deg);
}

.burger-menu-content {
  position: fixed;
  top: 90px;
  left: 0;
  width: 312px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 24px 0 24px 32px;
  overflow-y: scroll;
  z-index: 10;
  scrollbar-width: none;
  -ms-overflow-style: none;
  @apply lg:pr-[18px];
  // transform: translateX(0);
}
.burger-menu-content-enter-active {
  animation: open 0.3s forwards;
}
.burger-menu-content-exit {
  opacity: 1;
}
.burger-menu-content-exit-active {
  animation: close 0.3s forwards;
}

.burger-menu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.burger-menu-content li {
  margin-bottom: 15px;
}

.burger-menu-content a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.burger-menu-overlay {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dad5d5cb;
  // z-index: 9;
}

@keyframes open {
  0% {
    transform: translateX(-312px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes close {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-312px);
  }
}
.header-menu {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;

  li {
    padding: 7px 12px 9px 48px;
    height: 38px;
    display: flex;
    border-radius: 8px;
    font-variation-settings: "wght" 650;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 500;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    // border-radius: 0;
    // padding: 12px 52px 14px;
    // font-size: 16px;
    line-height: 22px;
    // display: block;
    position: relative;
    cursor: pointer;
    // @apply ;
    color: #242424;
    &:hover {
      background-color: #f6f6f9;
      .span-2 {
        opacity: 1;
      }
      .ul-popup{
        transition: 0.3s ease-in-out;
        display: block;
      }
    }

    span {
      @apply absolute w-6 h-6 block left-3;
      top: calc(50% - 12px);
      img {
        @apply w-full h-full object-cover;
      }
    }
    .span-2 {
      @apply absolute w-6 h-6 object-cover right-3 opacity-0 top-[50%] flex items-center;
      // right: calc(50% - 12px);
      transform: translateY(-50%);
    }
    .ul-popup {
      @apply bg-[#fff] fixed w-[304px] h-full overflow-scroll left-[312px] top-[90px] z-10 border hidden p-0;
      padding: 24px 18px 24px 18px;
      scrollbar-width: none;
      -ms-overflow-style: none;
      
 ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  padding: 0;
  margin: 0;
  li{
    @apply m-0 p-0 w-full h-[38px] mb-1 hover:bg-[#f6f6f9] pl-2;
    a{
      font-variation-settings: "wght" 650;
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: 500;
      transition: opacity 0.3s;
    }
  }
  .ul-popup-li{
    @apply font-extrabold;
  }
 }
    }
  }
  .header-menu-li {
    background: #ff0246;
    border: 1px solid red;
    &:hover {
      background: #ff0246;
    }
    a {
      // color: #fff;
      // font-weight: ;
      @apply text-[#fff] font-extrabold;
      span {
        @apply absolute w-6 h-6 block left-3;
        top: calc(50% - 12px);
        img {
          @apply w-full h-full object-cover;
        }
      }
    }
  }
  .header-menu-li-1 {
    a {
      color: #242424;
      font-weight: 500;
      font-size: 16px;
      span {
        @apply absolute w-6 h-6 block left-3;
        top: calc(50% - 12px);
        img {
          @apply w-full h-full object-cover;
        }
      }
    }
  }
}
